body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 25px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    background-color: lightskyblue;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}

.alert-success {
    background-color: #4CAF50;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size : 14px;
        color :black
    }

    .form-group input {
        width: 80%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
       
    }

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #4CAF50;
    }

.text-danger {
    color: red;
    font-size: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
